.telco-section {
    background-color: white;
    height: 100vh;
    border: 2px solid black;  
    transform: scaleX(-1);   
    
}

section {
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url('/assets/images/wave/page-wave.png') ; 
    transform: scaleX(-1);  
    padding: 50px;
}